@font-face {
    font-family:'Lovelo-Black';
    src:
            url("../Lovelo-Black/Lovelo_Black.eot?")
            format("eot"),url("../Lovelo-Black/Lovelo_Black.woff")
            format("woff"),url("../Lovelo-Black/Lovelo_Black.ttf")
            format("truetype"),url("../Lovelo-Black/Lovelo_Black.svg#Lovelo-Black")
            format("svg");
    font-weight:normal;
    font-style:normal;}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lovelo-Black', sans-serif;
}

html, body {
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    zoom:1;
}


body {
    height: 100%;
    width: 100%;
}

h2 {
    font-family: Lovelo-Black, sans-serif;
    text-transform: uppercase;
    color: #FF9131;
    margin:0;
    padding:0;
}

p {
    font-family: Lovelo-Black, sans-serif;
    color: white;
}

ul {
    overflow: hidden;
}

.align-center {
    text-align:center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align:right;
}

.clearfix {
    clear:both;
}

.left {
    float: left;
}

.right{
    float:right;
}

.border-me {
    border: 1px solid red;
}

.push-down {
    z-index: 102;
}
@media (min-width: 768px) {
    .push-down {
        margin-top: 75%;
    }
}
@media (min-width: 1024px) {
    .push-down {
        margin-top: 25%;
    }
}

.push-down--video {
    z-index: 102;
}
@media (min-width: 768px) {
    .push-down--video {
        margin-top: 75%;
    }
}
@media (min-width: 1024px) {
    .push-down--video {
        margin-top: 32%;
    }
}

.margin-lg-left {
    margin-left:25%;
}

.margin-char-puller-lg-left {
    margin-left:20%;
}

/* Flexbox. */
.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container-full {
        position: absolute;
        bottom: 22%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
@media (min-width: 1024px) {
    .container-full {
        position: absolute;
        bottom: 10%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.section {
    overflow: hidden;
}

.content-container {
    position: relative;
    text-align: center;
}
@media (min-width: 1024px) {
    .content-container {
        text-align: left;
    }
}
@media screen and (min-width: 1024px) and (min-aspect-ratio: 2 / 1) {
    .content-container {
        padding-top: 20px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.row.reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.col.reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.col-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
}

.col-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    -webkit-flex-basis: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
}

.col-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    -webkit-flex-basis: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
}

.col-xs-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.col-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.col-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    -webkit-flex-basis: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.col-xs-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.col-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    -webkit-flex-basis: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.col-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    -webkit-flex-basis: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
}

.col-xs-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.col-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    -webkit-flex-basis: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
}

.col-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    -webkit-flex-basis: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
}

.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.col-xs-offset-1 {
    margin-left: 8.333%;
}

.col-xs-offset-2 {
    margin-left: 16.667%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-4 {
    margin-left: 33.333%;
}

.col-xs-offset-5 {
    margin-left: 41.667%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-7 {
    margin-left: 58.333%;
}

.col-xs-offset-8 {
    margin-left: 66.667%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-10 {
    margin-left: 83.333%;
}

.col-xs-offset-11 {
    margin-left: 91.667%;
}

.start-xs {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
}

.center-xs {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.end-xs {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.top-xs {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.middle-xs {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.bottom-xs {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.around-xs {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.between-xs {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.first-xs {
    -webkit-order: -1;
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.last-xs {
    -webkit-order: 1;
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

@media only screen and (min-width: 48em) {
    .container {
        width: 46rem;
    }

    .col-sm,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        box-sizing: border-box;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .col-sm {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        -webkit-flex-basis: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-sm-1 {
        -ms-flex-preferred-size: 8.333%;
        -webkit-flex-basis: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-sm-2 {
        -ms-flex-preferred-size: 16.667%;
        -webkit-flex-basis: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        -webkit-flex-basis: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex-preferred-size: 33.333%;
        -webkit-flex-basis: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-sm-5 {
        -ms-flex-preferred-size: 41.667%;
        -webkit-flex-basis: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex-preferred-size: 58.333%;
        -webkit-flex-basis: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-sm-8 {
        -ms-flex-preferred-size: 66.667%;
        -webkit-flex-basis: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        -webkit-flex-basis: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex-preferred-size: 83.333%;
        -webkit-flex-basis: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-sm-11 {
        -ms-flex-preferred-size: 91.667%;
        -webkit-flex-basis: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-sm-offset-1 {
        margin-left: 8.333%;
    }

    .col-sm-offset-2 {
        margin-left: 16.667%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-4 {
        margin-left: 33.333%;
    }

    .col-sm-offset-5 {
        margin-left: 41.667%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-7 {
        margin-left: 58.333%;
    }

    .col-sm-offset-8 {
        margin-left: 66.667%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-10 {
        margin-left: 83.333%;
    }

    .col-sm-offset-11 {
        margin-left: 91.667%;
    }

    .start-sm {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .center-sm {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }

    .end-sm {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .top-sm {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .middle-sm {
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .bottom-sm {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .around-sm {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .between-sm {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .first-sm {
        -webkit-order: -1;
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .last-sm {
        -webkit-order: 1;
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

@media only screen and (min-width: 62em) {
    .container {
        width: 61rem;
    }

    .col-md,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        box-sizing: border-box;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .col-md {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        -webkit-flex-basis: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-md-1 {
        -ms-flex-preferred-size: 8.333%;
        -webkit-flex-basis: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-md-2 {
        -ms-flex-preferred-size: 16.667%;
        -webkit-flex-basis: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-md-3 {
        -ms-flex-preferred-size: 25%;
        -webkit-flex-basis: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex-preferred-size: 33.333%;
        -webkit-flex-basis: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-md-5 {
        -ms-flex-preferred-size: 41.667%;
        -webkit-flex-basis: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-md-6 {
        -ms-flex-preferred-size: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex-preferred-size: 58.333%;
        -webkit-flex-basis: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-md-8 {
        -ms-flex-preferred-size: 66.667%;
        -webkit-flex-basis: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-md-9 {
        -ms-flex-preferred-size: 75%;
        -webkit-flex-basis: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -ms-flex-preferred-size: 83.333%;
        -webkit-flex-basis: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-md-11 {
        -ms-flex-preferred-size: 91.667%;
        -webkit-flex-basis: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-md-12 {
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-md-offset-1 {
        margin-left: 8.333%;
    }

    .col-md-offset-2 {
        margin-left: 16.667%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-4 {
        margin-left: 33.333%;
    }

    .col-md-offset-5 {
        margin-left: 41.667%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-7 {
        margin-left: 58.333%;
    }

    .col-md-offset-8 {
        margin-left: 66.667%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-10 {
        margin-left: 83.333%;
    }

    .col-md-offset-11 {
        margin-left: 91.667%;
    }

    .start-md {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .center-md {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }

    .end-md {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .top-md {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .middle-md {
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .bottom-md {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .around-md {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .between-md {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .first-md {
        -webkit-order: -1;
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .last-md {
        -webkit-order: 1;
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

@media only screen and (min-width: 75em) {
    .container {
        width: 71rem;
    }

    .col-lg,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        box-sizing: border-box;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .col-lg {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        -webkit-flex-basis: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-lg-1 {
        -ms-flex-preferred-size: 8.333%;
        -webkit-flex-basis: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-lg-2 {
        -ms-flex-preferred-size: 16.667%;
        -webkit-flex-basis: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-lg-3 {
        -ms-flex-preferred-size: 25%;
        -webkit-flex-basis: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex-preferred-size: 33.333%;
        -webkit-flex-basis: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-lg-5 {
        -ms-flex-preferred-size: 41.667%;
        -webkit-flex-basis: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-lg-6 {
        -ms-flex-preferred-size: 50%;
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex-preferred-size: 58.333%;
        -webkit-flex-basis: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-lg-8 {
        -ms-flex-preferred-size: 66.667%;
        -webkit-flex-basis: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-lg-9 {
        -ms-flex-preferred-size: 75%;
        -webkit-flex-basis: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex-preferred-size: 83.333%;
        -webkit-flex-basis: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-lg-11 {
        -ms-flex-preferred-size: 91.667%;
        -webkit-flex-basis: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-lg-12 {
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-lg-offset-1 {
        margin-left: 8.333%;
    }

    .col-lg-offset-2 {
        margin-left: 16.667%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-4 {
        margin-left: 33.333%;
    }

    .col-lg-offset-5 {
        margin-left: 41.667%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-7 {
        margin-left: 58.333%;
    }

    .col-lg-offset-8 {
        margin-left: 66.667%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-10 {
        margin-left: 83.333%;
    }

    .col-lg-offset-11 {
        margin-left: 91.667%;
    }

    .start-lg {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .center-lg {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }

    .end-lg {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .top-lg {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .middle-lg {
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .bottom-lg {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .around-lg {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .between-lg {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .first-lg {
        -webkit-order: -1;
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .last-lg {
        -webkit-order: 1;
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}


/*Our Animation KeyFrames*/
@keyframes jump-up {
    0% {
        opacity: 0;
        -webkit-transform: translateX(80px);
        -ms-transform: translateX(80px);
        transform: translateX(80px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }



.fp-controlArrow.fp-prev {
    left: 12px;
    border: none;
    width: 14px;
    height: 20px;
    background-image: url("http://media.mortarboar.com/nimbi/images/right.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: left 120ms ease-in-out;
    transition: left 120ms ease-in-out;
}
.fp-controlArrow.fp-prev:hover {
    left: 6px;
}
@media (min-width: 768px) {
    .fp-controlArrow.fp-prev {
        width: 22px;
        height: 30px;
    }
}
@media (min-width: 1024px) {
    .fp-controlArrow.fp-prev {
        width: 33px;
        height: 45px;
    }
}

.fp-controlArrow.fp-next {
    right: 12px;
    border: none;
    width: 14px;
    height: 20px;
    background-image: url("http://media.mortarboar.com/nimbi/images/right.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: right 120ms ease-in-out;
    transition: right 120ms ease-in-out;
}

.fp-controlArrow.fp-next:hover {
    right: 6px;
}
@media (min-width: 768px) {
    .fp-controlArrow.fp-next {
        width: 22px;
        height: 30px;
    }
}
@media (min-width: 1024px) {
    .fp-controlArrow.fp-next {
        width: 33px;
        height: 45px;
    }
}



.fp-slidesNav bottom {
    bottom: 0px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #FF9131 !important;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 0% !important;
    height: 4px;
    width: 4px;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
    margin-top: -3px;
    width: 7px;
    height: 7px;
}
@media (min-width: 768px) {
    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        width: 7px;
        height: 7px;
    }
    #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
        width: 11px;
        height: 11px;
    }
}

#videoBackground {
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: url("http://mortarboar.com/media/nimbi/video/nimbi-header.mp4");
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:-1;

}


/*Our Dom CSS Declarations Start Here*/

/*Navigation menu*/

nav{
    position:absolute;
    top:0;
    width:100%;
    z-index:999;
}

ul.nimbi-nav  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(0,0,0,0.2);


}

ul.nimbi-nav li {display:inline-flex;
justify-content: center;}
ul.nimbi-nav li a {
    color:#f2f2f2;
    text-align: center;
    padding:14px;
    text-decoration:none;
    transition: 0.3s;
    font-size:17px;
}
ul.nimbi-nav li a:hover{
    background-color:#FF9131;
}
ul.nimbi-nav li.icon {
    display:none;
}

/*Queries for our Navigation*/
@media screen and (max-width:500px){
    ul.nimbi-nav li:not(:first-child) {display: none;}
    ul.nimbi-nav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px){
    ul.nimbi-nav.responsive {
        position:absolute;
        right:0;
        top:0;
    }

    ul.nimbi-nav.responsive li {
        float:none;
        display:inline;
    }

    ul.nimbi-nav.responsive li a{
        display:block;
        text-align: left;
    }
}



@media screen and (max-width: 600px){
    .nimbi__kickstarter{
        display: none;
        visibility: hidden;
        border:2px solid #FF9131;
    }
}


.nimbi__cinematic {
    position: absolute;
    bottom:10%;
    width:95%;

}



@media (min-width: 768px) {
    .nimbi__cinematic {
        position: relative;
        bottom: -5px;
        width: inherit;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        margin-top: 0;

    }


    .nimbi__kickstarter {
        position: relative;
        bottom: 0;
        width: inherit;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        margin-top: 0;
    }
}

.play-button {
    display: block;
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: contain;
    width: 15%;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    z-index: 100;
    pointer-events: none;
    background-image: url(../images/play-button.png);
}


#page--landing, #page--about, #page--onesies {
    overflow:hidden;
}



#kidsPlayVideoBack
{
    position:absolute;
    right: 0;
    bottom: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("http://mortarboar.com/media/nimbi/images/kidsplay-back.png");
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index: -1;
}


#windMachineVideoBack
{
    position:absolute;
    right: 0;
    bottom: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("http://mortarboar.com/media/nimbi/images/windmachine-fallback.png");
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index: -1;
}


#carlVideoBack {
    position:absolute;
    right: 0;
    bottom: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index: -1;
}

/*Standard Settings on Small screen*/
.page__landing--logo {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    top: 7%;
    width: 100%;
    height: auto;
    z-index: 101;
}


@media (min-width: 768px) {
    .page__landing--logo {
        position:absolute;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom:0;
        width:50%;
    }
}

@media (min-width: 1024px) {
    }

.content-container {
    position: relative;
    text-align: center;
}
@media (min-width: 1024px) {
    .content-container {
        text-align: left;
    }
}
@media screen and (min-width: 1024px) and (min-aspect-ratio: 2 / 1) {
    .content-container {
        padding-top: 20px;
    }
}

    /*Stuff for our Towers Section*/
    .tower {
        position: absolute;
        max-width: 300%;
        display: none;
    }

    @media (min-width: 768px) {
        .tower {
            display: block;
            opacity: 1;
            -webkit-transition: opacity 160ms ease-in-out;
            transition: opacity 160ms ease-in-out;
        }
    }
    @media (min-width: 1024px) {
        .tower {
            display: block;
        }
    }


    .tower__main {
        width: 10%;
        height: auto;
        bottom: 40%;
        left: 20%;

    }
    @media (min-width: 1024px) {
        .tower__main {
            width: 10%;
            left: 91%;
            top:8%;
        }
    }

    .tower__volcano {
        width: 20%;
        height: auto;
        top: 5%;
        left:91%;

    }
    @media (min-width: 1024px) {
        .tower__volcano {
            width: 8%;
            height: auto;
            top: 8%;
            left:75%;
        }
    }



/*Stuff for our Onesie Images*/
.onesie {
    position: absolute;
    max-width: 300%;
    display: none;
}

@media (min-width: 768px) {
    .onesie {
        display: block;
        opacity: 1;
        -webkit-transition: opacity 160ms ease-in-out;
        transition: opacity 160ms ease-in-out;
    }
}
@media (min-width: 1024px) {
    .onesie {
        display: block;
    }
}

.onesie--nimbi_hamster {
    width: 5%;
    height: auto;
    top: 60%;
    left: 18%;
}

.onesie--nimbi_dragon {
    width: 5%;
    height: auto;
    top: 60%;
    left: 20%;
}

.onesie--nimbi_chameleon {
    width: 5%;
    height: auto;
    top: 60%;
    left: 22%;
}


/*Stuff for our character section*/
.character {
    position: absolute;
    max-width: 300%;
    display: none;
}

@media (min-width: 768px) {
    .character {
        display: block;
        opacity: 1;
        -webkit-transition: opacity 160ms ease-in-out;
        transition: opacity 160ms ease-in-out;
    }
}
@media (min-width: 1024px) {
    .character {
        display: block;
    }
}


 .fp-viewing-about-0 .character--journey_nimbi {
    width: 15%;
    height: auto;
    top: 11%;
    right: 64%;
    animation-name: jump-up;
    animation-delay:200ms;
    animation-duration: 1260ms;
    animation-timing-function: linear;

}



.fp-viewing-about-1 .character--journey_gary {
    width:9%;
    height: auto;
    right: 54%;
    bottom: 15%;
    animation-name: fadeIn;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

.fp-viewing-about-1 .character--journey_carl {
    width:8%;
    height: auto;
    right:52%;
    animation-name: fadeIn;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

.fp-viewing-about-1 .character--journey_daisy {
    width:10%;
    height: auto;
    right: 57%;
    animation-name: fadeIn;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}




/*Video Thumb Test need to edit later*/
.main--videowrap_thumb {
    background: #92c5c8;
    display: block;
    height: 0;
    padding-top: 50.51020408%;
    position: relative;
    z-index: 200;
    border: 4px solid  #FF9131;
}

.main--videowrap_thumb {
    background-position: center center;
    background-size: auto;
}

.ie8 .main--videowrap_thumb .videowrap_thumb,
.VideoThumbnail-link--locked .videowrap_thumb {
    display: none;
}

.videowrap_thumb {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.video--cinematic_fallback {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

@media screen and (max-width:  720px) {
    .video--cinematic_fallback {
        display: block;
    }
}



/*Navigation Test need to be edited later!*/
li, a {
    color: #ffffff;
    text-align: center;
}

p, li, a {
    font-size: 0.8rem;
    font-family: "Lovelo-Black", sans-serif;
    color: #ffffff;
    text-align: center;
}

@media screen and (min-width: 1024px) and (min-aspect-ratio: 2 / 1) {
    p, li, a {
        font-family: Lovelo-Black, sans-serif;
        font-size: 1rem;
    }
}

/*Screenshot Test*/
.media__frame--image {
    margin-top: 10px;
    max-width: 350px;
    height: auto;
}
.media__frame--image img {
    max-width: 100%;
}
@media (min-width: 768px) {
    .media__frame--image {
        margin-top: 40px;
    }
}
.media__frame--image-viewer {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.media__frame--image-viewer img {
    max-width: 100%;
    width: 100%;
}
.media__frame--image-viewer:before {
    content: '';
    display: block;
    position: absolute;
    height: 70px;
    width: 70px;
    border:2px dashed #FF9131;
    background-size: contain;
    bottom: -8px;
    left: -8px;
}
.media__frame--image-viewer:after {
    content: '';
    display: block;
    position: absolute;
    height: 70px;
    width: 70px;
    border:2px dashed #FF9131;
    background-size: contain;
    top: -8px;
    right: -8px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
@media (min-width: 1024px) {
    .media__frame--image-viewer {
        display: none;
    }
}

/*Footer Test*/
footer {
    width: 100%;
    overflow-x: hidden;
}

footer .footer__wrap {
    width: -webkit-calc(100% + 40px);
    width: calc(100% + 40px);
    background: #0a0e0b;
    position: relative;
    left: -20px;
    color:white;
    padding: 20px 0px;
    clear: both;
    text-align: center;
}


footer .footer__wrap--brand-row {
    margin: 26px auto;
    clear: both;
}
footer .footer__wrap--legal {
    width: 100%;
}

.footer-icons {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}



